<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>. This version is for beta users only. Set '?beta=true'</p>
    <br/>
    <a href="/users">Users</a>
  </body>
</html>
